

/* Variables */
$primary: #008797;

/* General Styles */
html{
  a,
  *{
    font-family: 'Sen', sans-serif;
    color: #333;
  }
  .section-heading{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    padding: 30px 0px;
    border-bottom: solid 2px #000;
    width: 80%;
    margin: 0 auto 20px auto;
    // min-width: 300px;
  }
  .custom-btn,
  div.wpforms-container-full .wpforms-form button.custom-btn[type="submit"]{
    font-size: 18px;
    border: solid 2px#008797;
    padding: 10px;
    background:rgba(0, 126, 151, 0.3);
    transition: .3s all;
    border-radius: 35px;
    text-decoration: none;
    color:#222;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    &:hover{
      background: rgba(0, 125, 151, 0.5);
      transition: .3s all;
      color: #fff;
      text-decoration: none;
      cursor: pointer;
    }
  }
  section{
    background: #eee;
  }
  body{
    #wrapper{
      overflow: hidden;
    }
  }
  i.fas{
    color: #fff;
  }
  .default-padding{
    padding: 50px;
    @media screen and (max-width: 767px){
      padding: 15px 10px;
    }
  }
}
.italic{
  font-style: italic;
}
.bold{
  font-weight: bold;
}
section{
  background: #fff;
}
/* Header Styles */
#header{
  background-color: #222;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  // background: rgba(0,0,0,0.7);
  z-index: 100;
  flex-wrap: wrap;
  .mobile-menu-trigger{
    margin-right: 15px;
    @media(min-width: 768px){
      display: none;
    }
  }
  .header-phone-link{
    margin-right: 15px;
  }
  .header-directions-link{
    margin-left: auto;
    margin-right: 15px;
  }
  @media(max-width: 767px){
    .mobile-menu-trigger {
      width: 40px;
      background: #008797;
      height: 40px;
      border-radius: 5px;
      .delimiter {
        background: #fff;
        height: 2px;
        width: 70%;
        margin: 0 auto;
        margin-top: 6px;
        box-shadow: 2px 1px 5px #000;
      }
    }
  }
  nav#menu{
    @media(max-width: 767px){
      width: 100%;
      height: 0px;
      overflow: hidden;
      transition: .3s all;
      &.open{
        height: 77px;
        transition: .3s all;
      }
      .menu{
        .menu-item{
          flex-basis: 25%;
          width: 25%;
          a{
            width: 100%;
            justify-content: center;
          }
        }
      }
    }
    .menu{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .menu-item{
        height: 77px;
        display: flex;
        align-items: center;
        a {
          padding: 0px 25px;
          display: flex;
          align-items: center;
          height: 50px;
          border-bottom: solid 2px #fff;
          position: relative;
          @media(max-width: 767px){
            padding: 0px 15px;
            font-size: 15px;
          }
          @media(max-width: 425px){
            padding: 0px 10px;
            font-size: 11px;
          }
          &:after{
            width: 0px;
            position: absolute;
            bottom: -2px;
            left: 0;
            transition: .3s all;
            height: 2px;
            content: '';
          }
          &:hover{
            &:after{
              width: 100%;
              transition: .3s all;
              background: $primary;
            }
          }
        }
      }
    }
  }
  .logo{
    img{
      max-width: 200px;
      @media(max-width: 767px){
        max-width: 100px;
      }
    }
  }
  .menu{
    a{
      color: #fff;
      text-decoration: none;
      font-size: 18px;
    }
  }
}
/* Hero Styles */
.hero-section{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background: url(../../images/dicks-banner-dark-resize.jpg) no-repeat center center;
  background-size: cover;
  z-index: -1;
  display: flex;
  .hero-container{
    width: 100%;
    position: relative;
    img{
      width: 100%; 
    }
    .hero-content{
      position: absolute;
      bottom: 100px;
      right: 100px;
      border-top: solid 2px #fff;
      border-bottom: solid 2px #fff;
      @media (max-width: 767px){
        bottom: 450px;
        right: 30px;
      }
      p.hero-header{
      color: #fff;
        font-size: 94px;
        text-shadow: 5px 5px 5px #000;        
        &:nth-child(2){
          margin-top: -20px;
        }
        @media (max-width: 767px){
          &:nth-child(2) {
            margin-top: 0px;
          }
          font-size: 34px;
        }
      }
      p.est{
        font-size: 58px;
        color: #fff;
        display: flex;
        align-items: flex-start;
        text-shadow: 5px 5px 5px #000;
        margin-top: -15px;
        @media (max-width: 767px){
          font-size: 28px;
          margin-top: 0px;
        }
        span{
          color: #fff;
          font-size: 94px;
          text-shadow: 5px 5px 5px #000;
        }
      }
    }
  }
}

/* Our Menu Styles */
.menu-section{
  margin-top: 100vh;
  max-width: 100%;
  padding: 50px;
  background: #eee;
  @media(max-width: 767px){
    padding: 20px;
  }
  .menu-container{
    .menu-heading {
      color: #222;
      font-size: 22px;
      font-style: italic;
      border: solid 2px #008797;
      padding: 10px 25px;
      display: block;
      text-align: center;
      margin-top: 30px;
    }
    .menu-categories {
      text-align: center;
      a {
        margin-bottom: 5px;
        display: inline-block;
        border-left: solid 1px #000;
        padding: 0px 5px;
        font-size: 14px;
        font-style: italic;
      }
      a.last-menu-category{
        border-right: solid 1px #000;
      }
    }

    .our-menu-row{
      .our-menu-col{
        .card.card-body{
          text-transform: uppercase;
          .menu-item-wrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 10px;
            @media(max-width: 360px){
              font-size: 12px;
            }
            &:nth-child(2n){
              background: #ccc;
            }
            .menu-item {
              max-width: 40%;
            }
            .menu-price {
              max-width: 60%;
              flex: 1;
              text-align: right;
              .menu-price-split {
                display: flex;
                justify-content: space-between;
              }
              .price-span {
                width: 100%;
                margin-right: 5px;
              }
            }
          }
          .price-types{
            width: 100%;
            padding: 10px 0px;
            max-width: 60%;
            text-align: left;
            margin-left: auto;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            .price-type{
              width: 100%;
              text-align: right;
              margin-right: 5px;
            }
          }
          span.italic{
            font-style: italic;
            padding: 10px;
            display: block;
            text-align: center;
            @media(max-width: 360px){
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

/* About Styles */
.about-section{
  .about-header{
    margin-bottom: 30px;
    h2{
      font-size: 45px;
      text-align: center;
    }
  }
  .about-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    .about-box{
      flex: 1 0 50%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      min-width: 450px;
      @media (max-width: 500px){
        min-width: 320px;
      }
      p{
        margin-bottom: 10px;
      }
      &.about-text{
        padding: 25px;
        width: 50%;
      }
    }
    .hours-section {
      width: 50%;
      padding: 25px;
      flex: 1 1 50%;
      text-align: center;
      h3 {
        font-size: 30px;
        font-weight: bold;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        max-width: 300px;
        margin: 0 auto 10px auto;
      }
      .hours-list{
        .hours-day{
          margin-top: 5px;
        }
      }
    }
    .contact-button {
      width: 100%;
      display: flex;
      justify-content: center;
      .contact-us-text{
        font-size: 18px;
        border: solid 2px $primary;
        padding: 10px;
        background: rgba(0,126,151,0.3);
        transition: .3s all;
        border-radius: 35px;
        text-decoration: none;
        color: #222;
        &:hover{
          background: rgba(0, 125, 151, 0.5);
          transition: .3s all;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

/* Review Styles */
.review-section{
  .review-container{
    max-width: 90%;
    margin: 0 auto;
  }
}

/*Application Styles*/
.application-section{
  .application-button-wrap{
    min-width: 100%;
    .application-button.custom-btn{
      margin: 10px auto;
    }
  }
}


div.wpforms-container-full{
  padding: 30px !important;
  .wpforms-form{
    .wpforms-field-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    .wpforms-field{
      select {
        max-width: 97% !important;
      }
    } 
    .wpforms-field.label {
      padding-bottom: 0px;
      width: 100%;
      flex-basis: 100%;
      label {
        text-align: left;
        font-size: 24px;
      }
      input {
        display: none;
      }
    }
    .wpforms-field.full {
      width: 100%;
      .wpforms-one-half{
        margin-left: 20px;
      }
    }
    .wpforms-field.half {
      flex: 1 0 50%;
      min-width: 300px;
      input {
        width: 100%;
        max-width: 96.5%;
        margin: 0 auto
      }
    }
    .wpforms-field.third {
      flex: 1 0 33%;
      min-width: 300px;
      input {
        width: 100%;
        max-width: 96.5%;
        margin: 0 auto
      }
    }
  }
  .wpforms-submit-container{
    text-align: center;
  }
}
.application-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  p{
    margin-bottom: 10px;
  }
  .application-content-left{
    flex:1 1 calc(50% - 30px);
    min-width: 300px;
    margin: 15px;
  }
  .application-content-right{
    flex:1 1 calc(50% - 30px);
    background: url('../../images/apply-now-bg.jpg') no-repeat center center;
    background-size: cover;
    min-height: 300px;
    min-width: 300px;
    margin: 15px
  }
}
.application-wrapper {
  height: 100%;
  max-height: 0px;
  overflow: hidden;
  transition: .5s ease-in-out all;
  max-width: 1200px;
  margin: 0 auto;
  &.open{
    height: 100%;
    max-height: 5000px;
    transition: .5s ease-in-out all;
    #nf-form-2-cont,
    .nf-form-wrap,
    .nf-form-layout{
      height: 100%;
      max-height: 5000px;
      transition: .5s ease-in-out all;
    }
    .nf-form-layout{
      *{
        max-height: 5000px;
      }
      transition: .5s ease-in-out all;
    }
  }
  #nf-form-2-cont,
  .nf-form-wrap,
  .nf-form-layout{
    height: 100%;
    max-height: 0px;
    transition: .5s ease-in-out all;
  }
  .nf-form-layout{
    *{
      max-height: 0px;
      height: 100%;
      transition: .5s ease-in-out all;
    }
  }
}

/*Footer Styles*/
#footer{
  background: #eee;
  border-top: 1px solid #ccc;
  padding: 15px;
}

.nf-form-content{
	.submit-container{
		input[type="button"]{
			font-size: 18px;
      border: solid 2px #008797;
      padding: 10px;
      background: rgba(0, 126, 151, 0.3);
      transition: .3s all;
      border-radius: 35px;
      text-decoration: none;
      color: #222;
      max-width: 300px;
      margin: 0 auto;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
      &:hover{
        background: rgba(0, 125, 151, 0.5);
        transition: .3s all;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
      }
		}
	} 
} 
.nf-form-fields-required {
  display: none;
}



