

/* Variables */
$primary: #008797;

/* General Styles */
html{
  a,
  *{
    font-family: 'Sen', sans-serif;
    color: #333;
  }
}
.italic{
  font-style: italic;
}
.bold{
  font-weight: bold;
}
section{
  background: #fff;
}
/* Header Styles */
#header{
  background-color: #555;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.7);
  z-index: 100;
  nav#menu{
    .menu{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .menu-item{
        height: 77px;
        display: flex;
        align-items: center;
        a {
          padding: 0px 25px;
          display: flex;
          align-items: center;
          height: 50px;
          border-bottom: solid 2px #fff;
          position: relative;
          &:after{
            width: 0px;
            position: absolute;
            bottom: -2px;
            left: 0;
            transition: .3s all;
            height: 2px;
            content: '';
          }
          &:hover{
            &:after{
              width: 100%;
              transition: .3s all;
              background: $primary;
            }
          }
        }
      }
    }
  }
  .logo{
    img{
      max-width: 200px;
    }
  }
  .menu{
    a{
      color: #fff;
      text-decoration: none;
      font-size: 18px;
    }
  }
}
/* Hero Styles */
.hero-section{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background: url(../../images/dicks-banner-dark-resize.jpg) no-repeat center center;
  background-size: cover;
  z-index: -1;
  .hero-container{
    img{
      width: 100%;
    }
  }
}

/* Our Menu Styles */
.menu-section{
  margin-top: 100vh;
  max-width: 100%;
  padding: 50px;
  background: #eee;
  .menu-container{
    .menu-heading {
      color: #222;
      font-size: 22px;
      font-style: italic;
      border: solid 2px #008797;
      padding: 10px 25px;
      display: block;
      text-align: center;
      margin-top: 30px;
    }
    .our-menu-row{
      .our-menu-col{
        .card.card-body{
          text-transform: uppercase;
          .menu-item-wrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 10px;
            &:nth-child(2n){
              background: #ccc;
            }
            .menu-item{
              
            }
            .menu-price{
              .menu-price-split{
                .price-span:not(:last-of-type){
                  margin-right: 10px;
                }
              }
            }
          }
          .price-types{
            display: flex;
            width: 100%;
            justify-content: flex-end;
            padding: 10px;
            .price-type{
              margin-right: 20px;
              &:not(:last-of-type){
                margin-right: 30px;
              }
            }
          }
          .menu-price{
            .menu-price-split{
              .price-span:not(:last-of-type){
                margin-right: 10px;
              }
            }
          }
          span.italic{
            font-style: italic;
            padding: 10px;
            display: block;
            text-align: center;
          }
        }
      }
    }
  }
}

/* About Styles */
.about-section{
  background: #fff;
  padding: 50px;
  .about-header{
    margin-bottom: 30px;
    h2{
      font-size: 45px;
      text-align: center;
    }
  }
  .about-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    .about-box{
      flex: 1 1 450px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      min-width: 450px;
      @media (max-width: 500px){
        min-width: 320px;
      }
      p{
        margin-bottom: 10px;
      }
      &.about-text{
        padding: 25px;
      }
      &.hours-text{

      }
      .contact-us-text{
        font-size: 18px;
        border: solid 2px $primary;
        padding: 10px;
        background: rgba(0,126,151,0.3);
        transition: .3s all;
        border-radius: 35px;
        text-decoration: none;
        color: #222;
        &:hover{
          background: rgba(0, 125, 151, 0.5);
          transition: .3s all;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

/* Review Styles */
.review-section{
  .review-container{
    max-width: 90%;
    margin: 0 auto;
  }
}