/* Variables */
/* General Styles */
html a,
html * {
  font-family: 'Sen', sans-serif;
  color: #333; }

html .section-heading {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  padding: 30px 0px;
  border-bottom: solid 2px #000;
  width: 80%;
  margin: 0 auto 20px auto; }

html .custom-btn,
html div.wpforms-container-full .wpforms-form button.custom-btn[type="submit"] {
  font-size: 18px;
  border: solid 2px #008797;
  padding: 10px;
  background: rgba(0, 126, 151, 0.3);
  transition: .3s all;
  border-radius: 35px;
  text-decoration: none;
  color: #222;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  width: 100%; }
  html .custom-btn:hover,
  html div.wpforms-container-full .wpforms-form button.custom-btn[type="submit"]:hover {
    background: rgba(0, 125, 151, 0.5);
    transition: .3s all;
    color: #fff;
    text-decoration: none;
    cursor: pointer; }

html section {
  background: #eee; }

html body #wrapper {
  overflow: hidden; }

.italic {
  font-style: italic; }

.bold {
  font-weight: bold; }

section {
  background: #fff; }

/* Header Styles */
#header {
  background-color: #222;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  flex-wrap: wrap; }
  @media (min-width: 500px) {
    #header .mobile-menu-trigger {
      display: none; } }
  @media (max-width: 499px) {
    #header .mobile-menu-trigger {
      width: 40px;
      background: #008797;
      height: 40px;
      border-radius: 5px; }
      #header .mobile-menu-trigger .delimiter {
        background: #fff;
        height: 2px;
        width: 70%;
        margin: 0 auto;
        margin-top: 6px;
        box-shadow: 2px 1px 5px #000; } }
  @media (max-width: 499px) {
    #header nav#menu {
      width: 100%;
      height: 0px;
      overflow: hidden;
      transition: .3s all; }
      #header nav#menu.open {
        height: 77px;
        transition: .3s all; }
      #header nav#menu .menu .menu-item {
        flex-basis: 25%;
        width: 25%; }
        #header nav#menu .menu .menu-item a {
          width: 100%;
          justify-content: center; } }
  #header nav#menu .menu {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #header nav#menu .menu .menu-item {
      height: 77px;
      display: flex;
      align-items: center; }
      #header nav#menu .menu .menu-item a {
        padding: 0px 25px;
        display: flex;
        align-items: center;
        height: 50px;
        border-bottom: solid 2px #fff;
        position: relative; }
        @media (max-width: 767px) {
          #header nav#menu .menu .menu-item a {
            padding: 0px 15px;
            font-size: 15px; } }
        @media (max-width: 425px) {
          #header nav#menu .menu .menu-item a {
            padding: 0px 10px;
            font-size: 11px; } }
        #header nav#menu .menu .menu-item a:after {
          width: 0px;
          position: absolute;
          bottom: -2px;
          left: 0;
          transition: .3s all;
          height: 2px;
          content: ''; }
        #header nav#menu .menu .menu-item a:hover:after {
          width: 100%;
          transition: .3s all;
          background: #008797; }
  #header .logo img {
    max-width: 200px; }
    @media (max-width: 767px) {
      #header .logo img {
        max-width: 100px; } }
  #header .menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px; }

/* Hero Styles */
.hero-section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background: url(../../images/dicks-banner-dark-resize.jpg) no-repeat center center;
  background-size: cover;
  z-index: -1;
  display: flex; }
  .hero-section .hero-container {
    width: 100%;
    position: relative; }
    .hero-section .hero-container img {
      width: 100%; }
    .hero-section .hero-container .hero-content {
      position: absolute;
      bottom: 100px;
      right: 100px;
      border-top: solid 2px #fff;
      border-bottom: solid 2px #fff; }
      @media (max-width: 767px) {
        .hero-section .hero-container .hero-content {
          bottom: 450px;
          right: 30px; } }
      .hero-section .hero-container .hero-content p.hero-header {
        color: #fff;
        font-size: 94px;
        text-shadow: 5px 5px 5px #000; }
        .hero-section .hero-container .hero-content p.hero-header:nth-child(2) {
          margin-top: -20px; }
        @media (max-width: 767px) {
          .hero-section .hero-container .hero-content p.hero-header {
            font-size: 34px; }
            .hero-section .hero-container .hero-content p.hero-header:nth-child(2) {
              margin-top: 0px; } }
      .hero-section .hero-container .hero-content p.est {
        font-size: 58px;
        color: #fff;
        display: flex;
        align-items: flex-start;
        text-shadow: 5px 5px 5px #000;
        margin-top: -15px; }
        @media (max-width: 767px) {
          .hero-section .hero-container .hero-content p.est {
            font-size: 28px;
            margin-top: 0px; } }
        .hero-section .hero-container .hero-content p.est span {
          color: #fff;
          font-size: 94px;
          text-shadow: 5px 5px 5px #000; }

/* Our Menu Styles */
.menu-section {
  margin-top: 100vh;
  max-width: 100%;
  padding: 50px;
  background: #eee; }
  @media (max-width: 767px) {
    .menu-section {
      padding: 20px; } }
  .menu-section .menu-container .menu-heading {
    color: #222;
    font-size: 22px;
    font-style: italic;
    border: solid 2px #008797;
    padding: 10px 25px;
    display: block;
    text-align: center;
    margin-top: 30px; }
  .menu-section .menu-container .our-menu-row .our-menu-col .card.card-body {
    text-transform: uppercase; }
    .menu-section .menu-container .our-menu-row .our-menu-col .card.card-body .menu-item-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 10px; }
      @media (max-width: 360px) {
        .menu-section .menu-container .our-menu-row .our-menu-col .card.card-body .menu-item-wrapper {
          font-size: 12px; } }
      .menu-section .menu-container .our-menu-row .our-menu-col .card.card-body .menu-item-wrapper:nth-child(2n) {
        background: #ccc; }
      .menu-section .menu-container .our-menu-row .our-menu-col .card.card-body .menu-item-wrapper .menu-price .menu-price-split .price-span:not(:last-of-type) {
        margin-right: 10px; }
    .menu-section .menu-container .our-menu-row .our-menu-col .card.card-body .price-types {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      padding: 10px; }
      .menu-section .menu-container .our-menu-row .our-menu-col .card.card-body .price-types .price-type {
        margin-right: 20px; }
        .menu-section .menu-container .our-menu-row .our-menu-col .card.card-body .price-types .price-type:not(:last-of-type) {
          margin-right: 30px; }
    .menu-section .menu-container .our-menu-row .our-menu-col .card.card-body .menu-price .menu-price-split .price-span:not(:last-of-type) {
      margin-right: 10px; }
    .menu-section .menu-container .our-menu-row .our-menu-col .card.card-body span.italic {
      font-style: italic;
      padding: 10px;
      display: block;
      text-align: center; }
      @media (max-width: 360px) {
        .menu-section .menu-container .our-menu-row .our-menu-col .card.card-body span.italic {
          font-size: 12px; } }

/* About Styles */
.about-section {
  padding: 50px; }
  .about-section .about-header {
    margin-bottom: 30px; }
    .about-section .about-header h2 {
      font-size: 45px;
      text-align: center; }
  .about-section .about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }
    .about-section .about-container .about-box {
      flex: 1 1 450px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      min-width: 450px; }
      @media (max-width: 500px) {
        .about-section .about-container .about-box {
          min-width: 320px; } }
      .about-section .about-container .about-box p {
        margin-bottom: 10px; }
      .about-section .about-container .about-box.about-text {
        padding: 25px; }
      .about-section .about-container .about-box .contact-us-text {
        font-size: 18px;
        border: solid 2px #008797;
        padding: 10px;
        background: rgba(0, 126, 151, 0.3);
        transition: .3s all;
        border-radius: 35px;
        text-decoration: none;
        color: #222; }
        .about-section .about-container .about-box .contact-us-text:hover {
          background: rgba(0, 125, 151, 0.5);
          transition: .3s all;
          color: #fff;
          text-decoration: none; }

/* Review Styles */
.review-section .review-container {
  max-width: 90%;
  margin: 0 auto; }

/*Application Styles*/
.application-button-wrap {
  min-width: 100%; }
  .application-button-wrap .application-button.custom-btn {
    margin: 10px auto; }

div.wpforms-container-full {
  padding: 30px !important; }
  div.wpforms-container-full .wpforms-form .wpforms-field-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
  div.wpforms-container-full .wpforms-form .wpforms-field select {
    max-width: 97% !important; }
  div.wpforms-container-full .wpforms-form .wpforms-field.label {
    padding-bottom: 0px;
    width: 100%;
    flex-basis: 100%; }
    div.wpforms-container-full .wpforms-form .wpforms-field.label label {
      text-align: left;
      font-size: 24px; }
    div.wpforms-container-full .wpforms-form .wpforms-field.label input {
      display: none; }
  div.wpforms-container-full .wpforms-form .wpforms-field.full {
    width: 100%; }
    div.wpforms-container-full .wpforms-form .wpforms-field.full .wpforms-one-half {
      margin-left: 20px; }
  div.wpforms-container-full .wpforms-form .wpforms-field.half {
    flex: 1 0 50%;
    min-width: 300px; }
    div.wpforms-container-full .wpforms-form .wpforms-field.half input {
      width: 100%;
      max-width: 96.5%;
      margin: 0 auto; }
  div.wpforms-container-full .wpforms-form .wpforms-field.third {
    flex: 1 0 33%;
    min-width: 300px; }
    div.wpforms-container-full .wpforms-form .wpforms-field.third input {
      width: 100%;
      max-width: 96.5%;
      margin: 0 auto; }
  div.wpforms-container-full .wpforms-submit-container {
    text-align: center; }

.application-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px; }
  .application-content p {
    margin-bottom: 10px; }
  .application-content .application-content-left {
    flex: 1 1 calc(50% - 30px);
    min-width: 320px;
    margin: 15px; }
  .application-content .application-content-right {
    flex: 1 1 calc(50% - 30px);
    background: url("../../images/apply-now-bg.jpg") no-repeat center center;
    background-size: cover;
    min-height: 300px;
    min-width: 320px;
    margin: 15px; }

.application-wrapper {
  height: 100%;
  max-height: 0px;
  overflow: hidden;
  transition: .7s ease-in-out all;
  max-width: 1200px;
  margin: 0 auto; }
  .application-wrapper.open {
    height: 100%;
    max-height: 5000px;
    transition: .7s ease-in-out all; }
    .application-wrapper.open #nf-form-2-cont,
    .application-wrapper.open .nf-form-wrap,
    .application-wrapper.open .nf-form-layout {
      height: 100%;
      max-height: 5000px; }
    .application-wrapper.open .nf-form-layout * {
      max-height: 5000px; }
  .application-wrapper #nf-form-2-cont,
  .application-wrapper .nf-form-wrap,
  .application-wrapper .nf-form-layout {
    height: 100%;
    max-height: 0px; }
  .application-wrapper .nf-form-layout * {
    max-height: 0px;
    height: 100%; }

/*Footer Styles*/
#footer {
  background: #eee;
  border-top: 1px solid #ccc;
  padding: 15px; }

.nf-form-content .submit-container input[type="button"] {
  font-size: 18px;
  border: solid 2px #008797;
  padding: 10px;
  background: rgba(0, 126, 151, 0.3);
  transition: .3s all;
  border-radius: 35px;
  text-decoration: none;
  color: #222;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  width: 100%; }
  .nf-form-content .submit-container input[type="button"]:hover {
    background: rgba(0, 125, 151, 0.5);
    transition: .3s all;
    color: #fff;
    text-decoration: none;
    cursor: pointer; }

.nf-form-fields-required {
  display: none; }
