/* Variables */
/* General Styles */
html a,
html * {
  font-family: 'Sen', sans-serif;
  color: #333; }

section {
  background: #fff; }

/* Header Styles */
#header {
  background-color: #555;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100; }
  #header nav#menu .menu {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #header nav#menu .menu .menu-item {
      height: 77px;
      display: flex;
      align-items: center; }
      #header nav#menu .menu .menu-item a {
        padding: 0px 25px;
        display: flex;
        align-items: center;
        height: 50px;
        border-bottom: solid 2px #fff;
        position: relative; }
        #header nav#menu .menu .menu-item a:after {
          width: 0px;
          position: absolute;
          bottom: -2px;
          left: 0;
          transition: .3s all;
          height: 2px;
          content: ''; }
        #header nav#menu .menu .menu-item a:hover:after {
          width: 100%;
          transition: .3s all;
          background: #008797; }
  #header .logo img {
    max-width: 200px; }
  #header .menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px; }

/* Hero Styles */
.hero-section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background: url(../../images/dicks-banner-dark-resize.jpg) no-repeat center center;
  background-size: cover;
  z-index: -1; }
  .hero-section .hero-container img {
    width: 100%; }

/* Our Menu Styles */
.menu-section {
  margin-top: 100vh;
  max-width: 100%;
  padding: 50px; }
  .menu-section .menu-container .menu-heading {
    color: #222;
    font-size: 22px;
    font-style: italic;
    border: solid 2px #008797;
    padding: 10px 25px;
    flex-basis: 33%;
    display: block;
    text-align: center; }

/* About Styles */
.about-section {
  background: #fff;
  padding: 50px; }
  .about-section .about-header {
    margin-bottom: 30px; }
    .about-section .about-header h2 {
      font-size: 45px;
      text-align: center; }
  .about-section .about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }
    .about-section .about-container .about-box {
      flex: 1 1 450px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      min-width: 450px; }
      @media (max-width: 500px) {
        .about-section .about-container .about-box {
          min-width: 320px; } }
      .about-section .about-container .about-box p {
        margin-bottom: 10px; }
      .about-section .about-container .about-box.about-text {
        padding: 25px; }
      .about-section .about-container .about-box .contact-us-text {
        font-size: 18px;
        border: solid 2px #008797;
        padding: 10px;
        background: rgba(0, 126, 151, 0.3);
        transition: .3s all;
        border-radius: 35px;
        text-decoration: none;
        color: #222; }
        .about-section .about-container .about-box .contact-us-text:hover {
          background: rgba(0, 125, 151, 0.5);
          transition: .3s all;
          color: #fff;
          text-decoration: none; }

/* Review Styles */
.review-section .review-container {
  max-width: 90%;
  margin: 0 auto; }
